{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{% static 'schatbot/style.css' %}" />
  </head>
  <body>
    <div class="chat-container">
      <div id="chat-box" class="chat-box">
        <!-- Messages will be added here dynamically -->
      </div>
      <input
        type="text"
        id="user-input"
        class="user-input"
        placeholder="Type your message here..."
        autofocus
      />
    </div>
    <script src="{% static 'schatbot/script.js' %}"></script>
  </body>
</html>
